<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Express App</title>
  </head>
  <body style="background-color: wheat">
    <div
      style="
        display: flex;
        max-width: 1600px;
        width: 100%;
        height: 50px;
        background-color: white;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
      "
    >
      <ul>
        <a href="/">Home Page</a>
      </ul>

      <ul>
        <a href="/contact">Contact Us</a>
      </ul>
      <ul>
        <a href="/services">Our Services</a>
      </ul>
    </div>
  </body>
</html>
